#banner {
    background-image: url(Rd9291020ee9b54082b73dfc5cc4c885e.jpg);
    height: 600px;
    background-position: center;
    background-size: contain;
}

h1,
h2 {
    color: white;
}

#name {
    color: darkseagreen;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

#banner-inner {
    padding: 15%;
    padding-left: 10%;
    padding-right: 60%;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;

}

h2 {
    font-size: 25px;
    font-weight: 300;
    font-variant: small-caps;
    color: lightskyblue;
}

h3 {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 50px;
    color: darkseagreen;
}

#bio,#work {
    padding: 10%;
}

p {
    text-align: justify;
}

#bio_text {
    display: flex;
}

#bio_text #img {
    width: 100%;
}

#bio_text img {
    width: 100%;
}

#bio_text p {
    padding-left: 50px;
    margin: 0px;
    font-size: 17px;
    line-height: 1.5;
    color: #bfb5b2;
}
#menu {
    list-style: none;
    text-align: center;
    position: fixed;
    background-color: white;
    margin: 0px;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    color: rgb(220, 178, 107);
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    background: #bbb;
    padding-top: 30px;
    padding-bottom: 30px;
}

h5 {
    text-align: center;
}

img{
    height: 400px;
}

h3 {
    text-align: center;
}

iframe {
    padding-left: 100px;
    padding-right: 145px;
    width: 1000px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    background-color: whitesmoke;
}

.Travel{
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px black;
    width: 550px;
    padding: 10px;
}

#My_Image{
    text-align: center;
}

.Pic_Of_Me{
    text-align: center;
}